// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.banner {
    height: 100px;
    width: 100%;
    background-color: black;
    background-image: url("../mybanner.png");
    background-repeat: no-repeat;
    position: fixed;
    top:0;
}

body{        
    padding-top: 100px;
    padding-bottom: 40px;
}

a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: black;
  }

  .postitem {
    background-image: url("../arrow.svg");
    background-repeat: no-repeat;
    background-position: 0px 6px ;
    padding-left: 20px;
    border-bottom: 2px solid #eeeeee;
  }

  .myfooter {
    height: 40px;
    width: 100%;
    background-color: black;
    background-image: url("../footer.png");
    background-repeat: no-repeat;
    position: fixed;
    bottom:0;
    text-align: right;
}