// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.banner {
  height: 200px;
  width: 100%;
    background-color: rgb(48, 171, 252);
    background-image: url("../mybanner.png");
    background-size: auto auto;
    background-repeat: no-repeat;
    position: fixed;
    top:0;
    background-position: center; 
    z-index: 99999999;
    border-bottom: 5px solid grey
}
/*
.banner {
  height: 200px;
  width: 100%;
  background-color: rgb(48, 171, 252);
  background-image: url("../mybanner.png");
  background-size: 600px 200px;
  background-repeat: no-repeat;
  position: fixed;
  top:0;
  background-position: center; 
  z-index: 99999999;
  border-bottom: 5px solid grey
}
*/

body{        
    padding-top: 200px;
    padding-bottom: 40px;
}

a:link {
    color: rgb(48, 171, 252);
  }
  
  /* visited link */
  a:visited {
    color: rgb(48, 171, 252);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(48, 171, 252);
  }
  
  /* selected link */
  a:active {
    color: rgb(48, 171, 252);
  }

  .postitem {
    background-image: url("../arrow.svg");
    background-repeat: no-repeat;
    background-position: 0px 6px ;
    padding-left: 20px;
    border-bottom: 2px solid #eeeeee;
  }

  .myfooter {
    height: 40px;
    width: 100%;
    background-color: #565656;
    background-image: url("../footer.png");
    background-repeat: no-repeat;
    position: fixed;
    bottom:0;
    text-align: right;
}